---
audio_available: "true"
id: "p00017"
illustration: "Marleen Visser"
l1title: "水同雨"
langname: "Cantonese"
language: "yue"
layout: "story"
level: "3"
license: "by"
license_version: "4"
order: "20"
reader: "Toby Ng"
source_link: "https://storyweaver.org.in/stories/15212-rain"
source_title: "Rain"
text: "Letta Machoga"
title: "水同雨"
translation: "一郎"
---

<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	水對我哋好緊要。平時嘅生活唔可以冇咗水。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	水由一隻杯流入第二隻杯嗰陣，會有聲。

我好鍾意聽呢種聲。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	條街落緊雨。我都好鍾意聽雨聲。

雨就係由天空落落嚟嘅水。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	有咗雨水，啲樹先可以生高啲。

淋完雨水，啲菜都唔會死，可以繼續生。

我哋仲可以裝住啲雨水，留返嚟用。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	雨唔可以日日都落。如果唔係，出面會水浸。

冇雨落嗰陣，太陽會出嚟。我就可以出去玩喇。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	夏天成日都落大雨。

爸爸叫我留返喺屋企入面。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	不過我覺得好悶，我冇聽爸爸話，出咗去玩。

啲雨淋到我濕晒。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	爸爸叫我返入屋：「阿女，噉樣淋雨會病㗎！」

爸爸叫我即刻沖涼換衫，仲幫我梳返好個頭。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols_colophon.html index="09" prev="08" next="colophon" %}
</div>
<hr>

