---
audio_available: "true"
id: "p00012"
illustration: "Kavya Singh"
l1title: "婆婆嘅芒果樹"
langname: "Cantonese"
language: "yue"
layout: "story"
level: "2"
license: "by"
license_version: "4"
order: "18"
reader: ""
source_link: "https://storyweaver.org.in/stories/11537-the-mango-tree"
source_title: "The Mango Tree"
text: "Kanchan Bannerjee"
title: "婆婆嘅芒果樹"
translation: "一郎"
---

<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	今日，我同爸爸、媽媽、細佬，一齊出去睇婆婆。

我好耐冇見婆婆喇！我好掛住佢。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	婆婆屋企出面有個大花園。花園度有芒果樹。

芒果樹上面有好多雀仔。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	我匿咗上去芒果樹上面，靜靜坐喺度。

呢度好正，冇人知道我匿喺度。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	爸爸以為我匿喺水井度，佢搵唔到我。

媽媽以為我匿喺啲牛度，佢都搵唔到我。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	啊！婆婆隻狗仔搵到我！佢知道我喺度！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	原來婆婆見唔到我，佢好驚。佢搵緊我。

我落返嚟，攬住婆婆，叫佢唔使驚。「我會聽話㗎喇。」

聽到我噉講，婆婆對住我笑。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols_colophon.html index="07" prev="06" next="colophon" %}
</div>
<hr>

