---
audio_available: "true"
id: "p00019"
illustration: "Kavya Singh, Natasha Mehra"
l1title: "玩車仔"
langname: "Cantonese"
language: "yue"
layout: "story"
level: "3"
license: "by"
license_version: "4"
order: "22"
reader: ""
source_link: "https://storyweaver.org.in/stories/12294-the-race"
source_title: "The Race"
text: "Kanchan Bannerjee"
title: "玩車仔"
translation: "一郎"
---

<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	小歌、阿高、小花同阿細係好朋友。

今日，佢哋四個一齊玩車仔。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	小歌揀咗架私家車。架車係綠色嘅。

小花揀咗部七人van。部van仔係黃色嘅。

阿高揀咗架巴士。架巴士係紅色嘅。

阿細揀咗部貨車。部貨車係藍色嘅。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	「準備，一，二，三！」佢哋推晒四架車仔出去。

呢個時候，黑白色嘅狗仔點點突然衝過去！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	「點點贏咗啊！」估唔到點點快過晒啲車仔！

「不過喺街上面，啲車開得好快㗎，所以要小心啊！」

大家喺街上面都要小心安全啊！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols_colophon.html index="05" prev="04" next="colophon" %}
</div>
<hr>

