---
audio_available: "true"
id: "p00006"
illustration: "Seat Sopheap"
l1title: "高啲，矮啲"
langname: "Cantonese"
language: "yue"
layout: "story"
level: "2"
license: "by"
license_version: "4"
order: "12"
reader: ""
source_link: "https://storyweaver.org.in/stories/37230-tall-and-short"
source_title: "Tall and Short"
text: "Huy Chheng Rattana"
title: "高啲，矮啲"
translation: "一郎, 阿擇"
---

<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	我頂帽喺架上面，我唔夠高攞。

爸爸幫我拎我頂帽。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	爸爸好高啊。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	我件衫掛咗喺櫃入面，我唔夠高攞。

媽媽幫我拎我件衫。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	媽媽都幾高，不過爸爸高啲。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	我本書放喺張枱上面，我家姐幫我拎我本書。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	家姐都高，不過媽媽高過佢。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	哥哥拎住我個袋。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	家姐企喺哥哥隔籬。我見到家姐高過哥哥。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	不過哥哥高過我。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	爸爸高過媽媽，媽媽高過家姐，

家姐高過哥哥，哥哥高過我。

我係屋企入面最矮嗰個。我大咗之後，要變高先得！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	咪住先！我哋屋企養咗隻狗仔，佢叫阿早。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="12" prev="11" next="13" %}
</div>
<hr>

<div id="text13" class="columns">
	{% include picturecol.html index="13" %}	{% include textcol_start.html %}	阿早拎咗我隻鞋仔。我叫佢即刻畀我。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="13" prev="12" next="14" %}
</div>
<hr>

<div id="text14" class="columns">
	{% include picturecol.html index="14" %}	{% include textcol_start.html %}	阿早先係屋企入面最矮嗰個。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="14" prev="13" next="15" %}
</div>
<hr>

<div id="text15" class="columns">
	{% include picturecol.html index="15" %}	{% include textcol_start.html %}	我高過阿早。阿早唔夠我高，佢矮過我。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="15" prev="14" next="16" %}
</div>
<hr>

<div id="text16" class="columns">
	{% include picturecol.html index="16" %}	{% include textcol_start.html %}	我唔夠哥哥高，我矮過哥哥。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="16" prev="15" next="17" %}
</div>
<hr>

<div id="text17" class="columns">
	{% include picturecol.html index="17" %}	{% include textcol_start.html %}	哥哥矮過家姐。我都矮過家姐。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="17" prev="16" next="18" %}
</div>
<hr>

<div id="text18" class="columns">
	{% include picturecol.html index="18" %}	{% include textcol_start.html %}	家姐矮過媽媽。哥哥同我都矮過媽媽。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="18" prev="17" next="19" %}
</div>
<hr>

<div id="text19" class="columns">
	{% include picturecol.html index="19" %}	{% include textcol_start.html %}	媽媽矮過爸爸。家姐、哥哥同我都矮過爸爸。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="19" prev="18" next="20" %}
</div>
<hr>

<div id="text20" class="columns">
	{% include picturecol.html index="20" %}	{% include textcol_start.html %}	爸爸係我哋屋企最高嗰個，阿早係最矮嗰個。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="20" prev="19" next="21" %}
</div>
<hr>

<div id="text21" class="columns">
	{% include picturecol.html index="21" %}	{% include textcol_start.html %}	我唔想淨係高過阿早。我想大咗之後變高啲，

好似爸爸噉樣，做屋企最高嗰個！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols_colophon.html index="21" prev="20" next="colophon" %}
</div>
<hr>

