<footer>
	<div class="container"{{rtl_dir}}>
		<h3>{{site.loc.nav_additional}}</h3>
		<a class="btn btn-lg" target="_blank" href="https://africanstorybook.org/">{{site.loc.sitename_asp}}</a> <a class="btn btn-lg" target="_blank" href="https://globalstorybooks.net/">{{site.loc.sitename_gsn}}</a> <a class="btn btn-lg" href="{{ "" | prepend: site.baseurl }}/contact">{{site.loc.nav_email}}</a>
<br><br> &copy; {{ site.title }}. <a href="https://creativecommons.org/licenses/by/4.0/{{site.loc.cc_deed}}">{{site.loc.cc_some}}</a>.<br><br>
	</div>
</footer>
