---
audio_available: "true"
id: "p00011"
illustration: "Sandra McDougall, Ingrid Schechter"
l1title: "感受天氣嘅女仔"
langname: "Cantonese"
language: "yue"
layout: "story"
level: "4"
license: "by-nc"
license_version: "3"
order: "17"
reader: ""
source_link: "https://global-asp.github.io/storybooks-hongkong/stories/yue/0231/"
source_title: "天氣書"
text: "Clare Verbeek, Thembani Dladla, Zanele Buthelezi"
title: "感受天氣嘅女仔"
translation: "一郎"
---

<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	我成日都出去出面。出面日日都有唔同嘅天氣。

今日係星期日，天氣好好，有太陽，有海風。

一路食雪糕，一路慢慢行，呢種感覺好正。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	今日係星期一。太陽公公好勤力，佢曬到條街好熱。

佢太勤力喇，我坐喺樹下面，都出晒汗。

連棵大樹都畀佢曬到就嚟枯乾喇！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	今日係星期二，出面吹緊大風。

啲風吹到大樹都企唔直。我都爭啲跌親。

我要用手撳實條裙，唔好畀啲風吹走。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	今日係星期三，天空上面有好多雲。

啲雲黑蚊蚊，睇嚟好似想落雨噉。

我睇唔到個太陽，有啲唔開心。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	今日係星期四，天氣好凍。

我件衫好短，凍到我係噉震。

我應該要着多件衫，令自己唔好凍親。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	今日係星期五。落咗成日雨。

啲雨喺個天空度落落嚟。

唔知天空上面係咪有人喊緊？
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	今日係星期六，天空好多黑雲，仲行雷閃電。

啲雷聲好嘈，搞到我對耳仔好辛苦。

我要返入屋企喇！畀雷打中會受傷㗎！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	今日又係星期日喇！我好開心。

知唔知點解我咁開心？因為我見到彩虹啊！

彩虹有好多顏色，有紅、橙、黃、綠、青、藍、紫，真係好靚啊！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols_colophon.html index="09" prev="08" next="colophon" %}
</div>
<hr>

