---
audio_available: "true"
id: "00006"
illustration: "黃可偉, Fiona Mak"
l1title: "揸巴士嘅彩虹恐龍"
langname: "Cantonese"
language: "yue"
layout: "story"
level: "2"
license: "by"
license_version: "4"
order: "02"
reader: "Ishi"
source_link: "http://hambaanglaang.hk/"
source_title: "揸巴士嘅彩虹恐龍"
text: "黃可偉, Fiona Mak"
title: "揸巴士嘅彩虹恐龍"
translation: ""
---

<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	偉偉由動物園返嚟，話想喺屋企養隻恐龍。

媽咪話：「No，No。屋企呢度咁細，又邊度有地方養佢。」

偉偉聽完唔開心，繼續玩佢嘅車車。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	偉偉爸爸同媽咪成日都要返工，得阿婆陪佢，

阿婆會朝頭早帶偉偉落公園玩。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	去到樓下，有一架金色巴士停咗喺度。

有人叫偉偉：「上嚟啦！」於是佢就上咗去。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	點知道一睇，個司機原來係一隻有彩虹色嘅恐龍。

入面原來已經有紫色嘅兔仔、淺藍色嘅豬仔、銀色嘅烏龜同粉紅色嘅老鼠仔坐喺度。

偉偉同大家講：「各位早晨！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	坐低落嚟，架巴士開始喐，

啲花花、大樹、大海、沙灘、屋仔同車仔向後面消失，

前面又出現咗太陽同雀仔。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	偉偉由窗望出出面，原來架巴士已經飛咗上天空，

佢哋同架巴士喺雲同雲中間飛行。

偉偉一邊大叫一邊拍手：「好嘢！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	「偉偉肚餓，要食嘢喇！」彩虹恐龍講。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	車上面嘅朋友仔由車外面拎咗啲食物出嚟。有啲乜嘢呢？

紫色兔仔講：「我有大樹糖糖！」

淺藍色豬仔講：「我有屋仔包包！」

銀色龜仔講：「我有花花菜菜！」

粉紅老鼠仔講：「我有大海汽水！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	之後佢哋叫偉偉食咗好多嘢，

偉偉好飽，點知佢哋繼續要偉偉食。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	偉偉 大叫：「夠喇夠喇！」

點知一叫，架巴士撞咗落嚿雲度，

偉偉跌咗落彩虹滑梯，滑咗落去……
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	「哎吔！救命！」佢最後醒咗，

手上仲拎住媽咪買嘅彩虹恐龍公仔，

原來佢一直喺自己張牀，發咗個夢。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="12" prev="11" next="13" %}
</div>
<hr>

<div id="text13" class="columns">
	{% include picturecol.html index="13" %}	{% include textcol_start.html %}	而家佢好肚餓。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols_colophon.html index="13" prev="12" next="colophon" %}
</div>
<hr>

