---
audio_available: "true"
id: "00103p"
illustration: "Soumya Menon"
l1title: "我想要嗰個"
langname: "Cantonese"
language: "yue"
layout: "story"
level: "2"
license: "by"
license_version: "4"
order: "09"
reader: "Jaime Ho"
source_link: "https://storyweaver.org.in/stories/82-i-want-that-one"
source_title: "I Want That One!"
text: "Mala Kumar"
title: "我想要嗰個"
translation: "一郎, 阿擇"
---

<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	今日媽媽得閒，佢想靜靜睇下書。

不過仔仔都一樣好得閒。佢冇嘢做。

佢成日都唔聽話，開始想做啲好曳嘅事。

仔仔嘈住話：「媽媽，攞嗰邊嗰個藍色盒畀我！

我想要嗰個藍色盒！我想睇下裏面有乜嘢！」

媽媽答佢：「等陣先攞畀你啦！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	仔仔企上張櫈度，佢想自己攞個藍色盒落嚟。

媽媽大叫：「唔好啊！阿仔！

你一攞走最下面個盒，上面啲盒都會跌落嚟㗎！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	仔仔嬲咗媽媽，佢覺得媽媽唔幫佢。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	媽媽見到仔仔唔開心，諗住同仔仔出去行下。

「嚟啦，阿仔！同媽媽一齊去街市啦！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	媽媽同仔仔去搵賣生果嘅伯伯。

媽媽諗住買啲蘋果返去。

仔仔見到啲橙，佢望住最下面嗰個話：

「我想要嗰個橙！」

賣生果嘅伯伯鬧佢：「唔准！你隻曳曳豬！

你一攞走最下面個橙，上面啲橙都會跌落嚟㗎！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	仔仔走咗入一間賣書嘅舖頭度。佢見到好多書。

佢望住最下面嗰本書話：「我想要嗰本書！」

賣書嘅哥哥叫停佢：「停手啊！細路！

你一攞走最下面嗰本書，上面啲書都會跌落嚟㗎！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	仔仔又走到去賣點心嘅叔叔度。

叔叔堆高啲咖喱角。

仔仔見到啲咖喱角，佢望住最下面嗰嚿話：

「我想食嗰嚿！」

賣點心嘅叔叔話佢：「唔好！你一攞走最下面嗰嚿，

上面啲咖喱角都會跌落嚟㗎！

你攞最上面嗰嚿咖喱角啦！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	之後仔仔走去賣花嘅婆婆度，佢喊住口噉話：

「我要掹走下面嗰朵花！」

婆婆即刻好驚噉話：

「小朋友，唔好掹啊！你掹啲花，啲花會死㗎！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	仔仔想攞啲乜嘢都攞唔到，

佢好唔開心，又叫又喊。

其他人唔知道佢咩事，都好關心佢。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	呢個時候，媽媽望住啲狗仔，踎低話：

「我想要嗰隻，黑色嗰隻。」

仔仔突然唔再喊，佢對媽媽話：「唔好！唔好要嗰隻。」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	「我哋要上面嗰隻。」

仔仔講完之後，佢輕輕抱住最上面嗰隻狗仔。

「黑色嗰隻狗仔喺最下面。媽媽一抱走佢，

上面啲狗仔會跌落嚟，啲狗仔會受傷㗎！」

聽到仔仔噉講，媽媽對佢笑咗一笑，話：

「你明白就好喇！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols_colophon.html index="12" prev="11" next="colophon" %}
</div>
<hr>

