---
audio_available: "true"
id: "00008"
illustration: "葉俊延, Wong Tk"
l1title: "星期日嘅沙灘"
langname: "Cantonese"
language: "yue"
layout: "story"
level: "3"
license: "by"
license_version: "4"
order: "04"
reader: "噹"
source_link: "http://hambaanglaang.hk/"
source_title: "星期日嘅沙灘"
text: "葉俊延, Wong Tk"
title: "星期日嘅沙灘"
translation: ""
---

<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	今日係星期日。

我拎住我部相機，搭咗巴士去淺水灣。

佢喺香港島，係一個好多人識嘅沙灘。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	我之前揾過佢嘅相，嗰度好靚㗎，我好鍾意，

我想去嗰度好耐㗎喇。

我住喺上環，搭巴士要一個鐘。

我朝早九點鐘出門口，十點鐘去到。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	今日天氣好好，少少熱，有風嗰陣，都幾舒服。

天空有太陽，冇乜雲，好藍，好靚。

我用相機影咗今日第一張相。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	沙灘有好多人，有人游水，有人踢波，有人瞓覺。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	嗰度又有好多小朋友，

我見到有一啲女仔玩沙，有一啲男仔玩水。

有一個女仔問：「你估水入面有冇魚？」

佢個朋友仔答佢：「我唔知！我淨係知海入面冇雀仔。」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	我又聽到有人唱歌，我聽唔明佢唱緊乜嘢。

佢唱得好好聽。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	「哎吔！」我突然聽到一個男仔叫——佢跌親啊。

唔知道佢痛唔痛呢？我見佢冇喊，好叻噉企咗起身。

佢媽媽跑去問佢：「你有冇事啊？」

個男仔大聲噉答：「冇事！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	「我好鍾意沙灘，我想日日都嚟玩啊！」

「噉樣，好啦，我哋聽日再嚟玩吖。」「好嘢！」

佢哋喺度笑，我都喺度笑，然後幫佢哋影咗一張相。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	返到屋企之後，我望住佢哋張相——
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	我都好鍾意沙灘，我都想再去一次淺水灣啊。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols_colophon.html index="11" prev="10" next="colophon" %}
</div>
<hr>

