---
audio_available: "true"
id: "p00010"
illustration: "Rob Owen"
l1title: "數下有幾多動物"
langname: "Cantonese"
language: "yue"
layout: "story"
level: "3"
license: "by"
license_version: "3"
order: "16"
reader: ""
source_link: "https://global-asp.github.io/storybooks-hongkong/stories/yue/0327/"
source_title: "數動物"
text: "Zanele Buthelezi, Thembani Dladla, Clare Verbeek"
title: "數下有幾多動物"
translation: "一郎"
---

<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	喺水邊，有一隻大笨象。

佢好口渴，慢慢噉行緊去飲水。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	有其他動物都喺度飲緊水喎。

原來係長頸鹿嚟，佢哋條頸好長。

你數唔數到呢度有幾多隻長頸鹿？係兩隻啊。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	呢度有三隻好大嘅動物，佢哋叫水牛。

呢度仲有四隻白雪雪嘅雀仔，全部都去緊飲水。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	好多動物都走嚟飲水喎。你數唔數到有咩？

有五隻羚羊，同六隻野豬啊。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	好多斑馬跑過嚟飲水，有七隻咁多啊！

斑馬跑得好快，踢到啲沙都飛起晒。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	有啲動物會住喺水入面㗎。

睇下，而家就有八隻青蛙同九條魚喺度。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	有隻獅子喺度大叫。 佢都好想飲水。

你知唔知道邊啲動物會驚獅子？

原來長頸鹿、水牛、羚羊、野豬、斑馬都驚獅子㗎！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	驚獅子嘅動物都走晒喇，得番大笨象同雀仔留低。

佢哋唔驚獅子，同獅子一齊飲緊水。

青蛙同魚就繼續喺水入面。

小朋友，不如數下而家有幾多隻動物吖！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols_colophon.html index="09" prev="08" next="colophon" %}
</div>
<hr>

