---
audio_available: "true"
id: "00105p"
illustration: "Ajanta Guhathakurta"
l1title: "鍾意顏色嘅熊人"
langname: "Cantonese"
language: "yue"
layout: "story"
level: "4"
license: "by"
license_version: "4"
order: "11"
reader: "林璃蝶"
source_link: "https://storyweaver.org.in/stories/36481-colours"
source_title: "Colours"
text: "Priyanka"
title: "鍾意顏色嘅熊人"
translation: "一郎, 阿擇"
---

<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	佢係熊人。聽人講佢好鍾意顏色㗎！

佢間屋有好多唔同顏色嘅畫。

[2c1]不過佢自己就白雪雪，一啲顏色都冇，

[2c2]佢好唔開心啊。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	佢走出間屋，想揾多啲唔同嘅顏色。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	佢走到樹下面，有啲嘢滴咗落佢個頭度。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	係蜜糖啊！蜜糖係黃色嘅。佢對耳仔都變咗黃色。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	有隻蜜蜂喺佢耳仔隔籬飛。佢想走，不過佢跌親啊！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	佢跌咗落啲泥度。

啲泥係啡色嘅，搞到佢個肚都變咗啡色。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	佢見到啲西瓜。

西瓜出面好綠，入面好紅，睇起嚟好好食。

佢切開個西瓜，拎咗一楷嚟食。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	楷西瓜搞到佢個口都紅晒。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	跟住佢揾到啲藍色嘅花。啲花可以用嚟做顏料。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	而家佢兩隻手都變咗藍色。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	之後，佢瞓低喺綠草上面。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="12" prev="11" next="13" %}
</div>
<hr>

<div id="text13" class="columns">
	{% include picturecol.html index="13" %}	{% include textcol_start.html %}	就係噉樣，佢背後都變咗綠色。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="13" prev="12" next="14" %}
</div>
<hr>

<div id="text14" class="columns">
	{% include picturecol.html index="14" %}	{% include textcol_start.html %}	有工人油緊油喎。

熊人睇到眼都唔轉，佢覺得啲顏色好靚。

原來佢對腳踩咗落啲油度啊！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="14" prev="13" next="15" %}
</div>
<hr>

<div id="text15" class="columns">
	{% include picturecol.html index="15" %}	{% include textcol_start.html %}	而家佢對腳都變咗粉紅色。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="15" prev="14" next="16" %}
</div>
<hr>

<div id="text16" class="columns">
	{% include picturecol.html index="16" %}	{% include textcol_start.html %}	睇下！熊人佢唔再白雪雪喇。

佢兩隻耳仔變咗黃色，個口變咗紅色，

對手變咗藍色，對腳變咗粉紅色，

個肚變咗啡色，後面仲變咗綠色。

佢開心到跳嚟跳去。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="16" prev="15" next="17" %}
</div>
<hr>

<div id="text17" class="columns">
	{% include picturecol.html index="17" %}	{% include textcol_start.html %}	哎吔！佢kick到嚿石頭啊！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="17" prev="16" next="18" %}
</div>
<hr>

<div id="text18" class="columns">
	{% include picturecol.html index="18" %}	{% include textcol_start.html %}	佢跌咗落去啲水度。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="18" prev="17" next="19" %}
</div>
<hr>

<div id="text19" class="columns">
	{% include picturecol.html index="19" %}	{% include textcol_start.html %}	佢慢慢起身，由啲水度走出嚟。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="19" prev="18" next="20" %}
</div>
<hr>

<div id="text20" class="columns">
	{% include picturecol.html index="20" %}	{% include textcol_start.html %}	不過啲水洗甩晒佢身上嘅顏色啊！

佢又試白雪雪，咩顏色都冇晒喇！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols_colophon.html index="20" prev="19" next="colophon" %}
</div>
<hr>

