---
layout: levelindex
language: yue
langname: Cantonese
level: 4
---
<h1>{{ site.title }}</h1>
<h2>Cantonese - {% include loc_leveltext.html %}</h2>

<div class="container">
	<div class="columns">{% assign sorted_pages = site.pages | sort: 'order' %}{% for page in sorted_pages %}{% if page.language == "yue" and page.layout == "story" %}{% if page.level == "4" %}{% include rtl.html %}
		<div class="column col-3 col-md-4 col-sm-6 col-xs-12">
				<div class="card{{text_align}}">
					<div class="card-image">
						<a class="btn-link" href="{{ "/stories" | prepend: site.baseurl }}/yue/{{page.id}}/">
							<img class="img-responsive" src="{{site.image_root}}/{{page.id}}/01.jpg">
						</a>
					</div>
					<div class="card-header">
						<a class="btn-link" href="{{ "/stories" | prepend: site.baseurl }}/yue/{{page.id}}/">
							<h3 class="card-title def">{{page.title}}</h3>
						</a>
						<div class="bar">
							<div class="bar-item tooltip" data-tooltip="{% include loc_leveltext.html %}" style="width:{{ page.level | times: 20 }}%;">{% include loc_leveltext.html %}</div>
						</div>
					</div>
				</div>
		</div>{% endif %}{% endif %}{% endfor %}
	</div>
</div>
