---
audio_available: "true"
id: "p00009"
illustration: "Abin Shrestha"
l1title: "玩乜好？"
langname: "Cantonese"
language: "yue"
layout: "story"
level: "3"
license: "by"
license_version: "4"
order: "15"
reader: ""
source_link: "https://storyweaver.org.in/stories/43836-chunu-munu-let-us-play-now"
source_title: "Chunu & Munu: Let Us Play Now"
text: "Shantdas Manandhar, Shilpi Pradhan"
title: "玩乜好？"
translation: "一郎"
---

<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	今日天氣好好，最啱出去玩。我同朋友仔坐晒喺度。

有啲乜嘢玩？呢度有石頭。

試下拋高啲石頭，然後用隻手接返住佢哋吖。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	呢度有大樹。有人喺樹上面整咗個韆鞦。

不如打韆鞦吖！我坐上韆鞦度，你喺後面推我。

我一路玩一路叫：「好嘢！我飛緊噉啊！」

不過玩嗰陣都要小心，唔好發生意外喎！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	我細妹攞咗條繩出嚟，佢最叻係跳繩。

我同小花拎住條繩，一人拎住一邊。

細妹開始跳喇。「一、二、三、四、五、六、七、八、九、十……」

細妹跳到好多下，個個都話佢叻。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	同多啲人一齊玩，會開心啲㗎！

我叫我細佬出嚟玩，唔好留喺屋企。

細佬鍾意瀡滑梯，一路瀡一路叫：「好嘢！我飛緊噉啊！」

不過玩嗰陣都要小心，唔好發生意外喎！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	有冇人想同我一齊玩啊？我返入屋，叫家姐出嚟玩。

家姐問我：「噉玩啲咩好先？」

我答佢：「你出到去就有好多嘢玩㗎喇！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	而家有好多人。最啱玩捉伊人。

邊個做捉人嗰個？猜過先知！嚟啦，我哋猜啦！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	大家鍾意玩乜就玩乜。

你鍾意打韆鞦就打韆鞦，佢鍾意跳繩就跳繩。

自己一個人玩咩好啊？

試下自己同自己踢波吖！都一樣好好玩㗎！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols_colophon.html index="08" prev="07" next="colophon" %}
</div>
<hr>

