---
audio_available: "true"
id: "p00008"
illustration: "Shweta Mohapatra"
l1title: "邊個叫醒到阿高？"
langname: "Cantonese"
language: "yue"
layout: "story"
level: "2"
license: "by"
license_version: "4"
order: "14"
reader: ""
source_link: "https://storyweaver.org.in/stories/332-bheema-the-sleepyhead"
source_title: "Bheema, the Sleepyhead"
text: "Kiran Kasturia"
title: "邊個叫醒到阿高？"
translation: "一郎"
---

<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	呢度住咗好多動物。佢係隻驢。佢個名叫阿高。

阿高好鍾意瞓覺。佢成日瞓到好晏都唔起身。

其他動物食早餐嗰陣，阿高仲瞓緊。

佢成日都冇早餐食，啲早餐畀其他動物食晒。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	今日阿高又冇早餐食喇。佢覺得好肚餓，好唔開心。

住喺隔籬嘅牛牛問佢：「點解你咁唔開心嘅？」

阿高答佢：「我冇食早餐，好肚餓啊！」

牛牛話：「不如聽日我叫醒你食早餐吖！」

阿高話：「好啊！唔該你！」

到咗第二日，牛牛都係叫唔醒阿高。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	到咗晏晝，阿高去到海邊，佢要送貨畀狗狗。

狗狗見到阿高，問佢：「點解你咁唔開心嘅？」

阿高答佢：「我已經兩日冇食早餐喇！」

狗狗話：「不如聽日我叫你起身，一齊食早餐吖！」

阿高話：「好啊！唔該你！」

到咗第二朝，狗狗都係叫唔醒阿高。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	今日，阿高一樣冇早餐食。佢冇晒力噉瞓喺啲草度。

雞先生行過，見到阿高，問佢：「點解你睇落咁攰嘅？」

阿高答佢：「我三日冇食早餐喇，我好唔開心！」

雞先生話：「聽朝等我叫醒你啦！我一定可以嘅！」

阿高話：「好啊！唔該你！」

第二朝，雞先生好大聲叫，都係叫唔醒阿高。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	阿高走去啲樹度，佢見到烏鴉仔。

烏鴉仔講緊故事畀大家聽。啲聲好大。

「烏鴉仔，不如你聽朝叫醒我食早餐吖！

我四日冇食早餐喇！」阿高噉同烏鴉仔講。

烏鴉仔答佢：「好啊！包喺我身上啦！」

到咗第二朝，烏鴉仔都係叫唔醒阿高。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	其他動物點叫醒佢，阿高都係醒唔到。佢好唔開心。

第二日朝早，其他動物開始食早餐喇，阿高仲瞓緊。

呢個時候，有隻烏蠅飛落阿高個鼻度。

「乞……嚏！」阿高打咗個大乞嚏。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	阿高醒咗喇！佢坐起身，問：「我係點醒㗎？」

烏蠅答佢：「我叫醒你㗎！你想唔想我朝朝都噉樣叫醒你啊？」

「好啊！」阿高答佢。「係你先叫醒到我咋！唔該你啊！」

烏蠅話：「唔使客氣！噉我哋食早餐啦！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols_colophon.html index="08" prev="07" next="colophon" %}
</div>
<hr>

