---
audio_available: "true"
id: "p00015"
illustration: "Zainab Tambawalla"
l1title: "新雨褸"
langname: "Cantonese"
language: "yue"
layout: "story"
level: "3"
license: "by"
license_version: "4"
order: "19"
reader: ""
source_link: "https://storyweaver.org.in/stories/369-the-red-raincoat"
source_title: "The Red Raincoat"
text: "Kiran Kasturia"
title: "新雨褸"
translation: "一郎"
---

<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	星期日，文仔媽媽買咗件新雨褸畀佢。

件雨褸橙紅色，好靚，文仔好想着住佢。

媽媽話：「阿仔，雨褸淨係落雨嗰陣先着㗎咋！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	星期一，天氣好好，太陽好曬。啲花都開得好靚。

文仔問媽媽：「今日會唔會落雨啊？」

媽媽話：「應該唔會喇。」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	星期二，個天好藍，淨係得一嚿白雲。

文仔唔開心，佢諗：「今日一定冇雨落喇。」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	星期三，天氣好熱，個太陽非常曬，犀利過之前。

文仔想喺屋企入面着件雨褸，點知熱到出晒汗。

文仔好唔鍾意，佢問：「點解仲未落雨㗎？」

媽媽都答佢唔到。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	星期四，天空上面有好多嚿雲。

文仔攞住件雨褸，走出出面，喺公園等落雨。

不過，孔雀先生同佢講：

「啲雲咁高咁白，今日唔會落雨㗎！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	星期五，啲雲開始變黑喇。

文仔又攞住件雨褸，走去公園度等落雨。

孔雀先生話：「你咁想落雨，我幫你跳隻求雨舞啦！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	星期六，個天空好嘈：「嘭！」

發生咩事呢？係行雷啊！

文仔好開心，佢問：「係咪好快就會落雨喇？」

青蛙哥哥答佢：「係啊，好快就會落雨㗎喇！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	最後，個天真係落雨喇！

文仔同青蛙哥哥都好開心，佢哋喺雨入面跳舞。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	不過文仔係咪唔記得咗啲嘢呢？

呢個時候，媽媽大聲叫：「文仔，你件雨褸啊！」
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols_colophon.html index="10" prev="09" next="colophon" %}
</div>
<hr>

