---
audio_available: "true"
id: "p00007"
illustration: "Wiehan de Jager"
l1title: "講畀邊個聽？"
langname: "Cantonese"
language: "yue"
layout: "story"
level: "2"
license: "by"
license_version: "3"
order: "13"
reader: ""
source_link: "https://global-asp.github.io/storybooks-hongkong/stories/yue/0087/"
source_title: "我好鍾意睇書"
text: "Letta Machoga"
title: "講畀邊個聽？"
translation: "一郎, 阿擇"
---

<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	我鍾意睇書，鍾意寫故事，

仲好鍾意將其他人寫落去個故事入面。

我都鍾意講個故事出嚟，講畀其他人聽。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	我而家喺屋企。我想講我個故事畀人聽。

我想搵細妹，講畀佢聽佢都喺我個故事入面㗎！

喺故事入面，細妹做咗兔仔。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	我去細妹嗰間房搵佢。細妹喺佢張床度，佢瞓咗。

都係唔好嘈醒佢。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	我想講我寫嘅故事畀人聽。

我想講畀媽媽同嫲嫲聽，好唔好呢？

我想同佢哋講，佢哋都喺我個故事入面㗎！

喺故事入面，媽媽係貓仔，嫲嫲係狗仔。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	我去廚房搵媽媽同嫲嫲。

媽媽同嫲嫲整緊嘢食。佢哋都唔 得閒。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	我走出屋企門口，想搵爸爸同爺爺。

佢哋都喺我個故事入面，我想講畀佢哋聽！

喺故事入面，爸爸係魚魚，爺爺係龜龜。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	我去泊車嗰度搵爸爸同爺爺。

爸爸同爺爺整緊架車，佢哋都唔得閒。
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	我寫咗個故事，呢個故事好正。我想講畀人聽。

個個都唔得閒。我講畀邊個聽好？講畀你聽啦！

我寫信畀「冚唪唥粵文讀本」， 講個故事出嚟！
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 level{{ page.level }}-txt l1"><h3>
	
	</h3></div>

	{% include audiocontrols_colophon.html index="09" prev="08" next="colophon" %}
</div>
<hr>

